<h2 id="title">Welcome to ember</h2>
{{#office-stapler pressed=(action "pressed") as |prop|}}
	Favourite Number:{{prop.mynum}}<br>
	Color:{{prop.color}}<br>
    Number of Staples:{{prop.staples}}<br>
	Inside Component
{{/office-stapler}}